.place-order-btn{
    border: 2px solid #FFCA2C;
    padding:10px 30px;
    font-size: 20px;
    background-color: #fff;
    font-weight: 500;
    transition: all .4s ease;
    margin-top: 20px;
}
.place-order-btn:hover{
    background-color: #FFCA2C;
    color:#fff
}
.icon span{
    display: inline-block;
    margin:8px 12px;
}
.icon span:hover{
    color:rgb(207, 10, 10);
    cursor: pointer;
}